---
layout: default
---
<div class="slides">
  <div class="slide">
  <section class="hero">
    <img src="/assets/img/logo.png"></img>
    <h1> Anadameth Astronomy </h1>
    <h2> Society </h2>
    <h3 class="desktop"> R/ Balangoda Ananda Maithreya Central College </h3>
  </section>
  </div>


  <div class="slide" id="1">
    <page>
      <h1> Featured News </h1>
      <section class="grid" id="g1">
        {% for post in site.posts limit:5 %}
        <a href="{{post.url}}" class="card {% if forloop.first %}spanrow2{% endif %}" style="background-image:url('/assets/img/articles/{{post.thumbnail}}');">
          <label>
            <b>{{post.title}}</b>
            <p>{{post.excerpt}}</p>
          </label>
        </a>
        {% endfor %}
      </section>
    </page>
  </div>

  <div class="slide" id="2">
    <page>
      <h1 style="text-align:center;"> TouTube Channel </h1>
      <section class="thumbnail-grid" id="g2">
        <div class="thumbnail" style="background-image:url('/assets/img/articles/badge.jpg');background-size:cover;"></div>
        <div class="thumbnail"></div>
        <div class="thumbnail"></div>
        <a class="viewmore" target="" href="https://www.youtube.com/@anandamethastronomicalsociety">View More</a>
      </section>
    </page>
  </div>

  <div class="slide" id="2">
    <page>
      <h1> Want to know more? </h1>
      <p> You can find more about us on our <a href="about.html">About Us</a> page or from our <a href="https://www.facebook.com/profile.php?id=100086375529231">Facebook</a> page.

      <h1> Contact Us </h1>
      <p> By <a href="">EMail</a>. You can also find us at: </p>

      <div class="pillgrid">
        <div class="pillcard bg-green"> <i data-lucide="message-circle"></i> Whatsapp</div>
        <a class="pillcard bg-blue" href="https://www.facebook.com/profile.php?id=100086375529231"><i data-lucide="facebook"></i>Facebook</a>
        <div class="pillcard bg-purple"> <i data-lucide="send"></i> Telegram</div>
      </div>

      <p class="footer"> <i> &copy; 2024 Ananda Maithreya Central College ICT Society </i>. Copyleft under <a href="">GPL V2</a> </p>
    </page>
  </div>

</div>
