---
---
<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{site.baseurl}}assets/css/main.css">
    <title>AMCC Astronomy Society</title>
  </head>
  <body>
    <div class="star-cont">
      <div id="stars"></div>
      <div id="stars2"></div>
      <div id="stars3"></div>
    </div>
    <header></header>
    <main>
        {% include navbar.html %}
      <div class="row">
        {{ content }}
      </div>
    </main>
    <footer></footer>

    <div class="pixels" inert tab-index=-1>
    </div>

    <script src="{{site.baseurl}}assets/js/main.js" type="module"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      lucide.createIcons();
    </script>
  </body>
</html>
